.statistics {
    text-align: center;
    background-color: azure;
    padding: 100px 0;
}

.title {
    font-size: 20px;
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
}

.statList {
    display: flex;
    margin: 0 auto;
    width: 400px;
}

.item {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    background-color: rgb(245, 229, 229);
    border: 1px solid rgb(192, 187, 187);
    flex-direction: column;
    padding: 20px;
}

.label {
    margin-bottom: 10px;
}